<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand navbar-brand-center" href="/">Snippet Reserver</a>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "ユーザー情報編集", edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="/users/sign_up">新規登録</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav> 