pre {
  height: 319px;
	list-style-type: decimal; 
	font-size: 14px;
  line-height: 1.4;
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
    
.linenums > li {
  margin-left: 36px;
	list-style-position: outside;
}