.main {
  width: calc(100vw - 250px);
  height: auto;
  .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    p {
      margin-bottom: 5px;
    }
  }
}

.position {
 margin: 39px 5px 0 0;
}